/*start CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS reset*/

* {
  /*border: 1px solid black !important; /*to display borders of elements, helps with CSS position and resize*/
  box-sizing:border-box;
}


@font-face{
 font-family:'digital-num';
 src: url('digital_counter_7.ttf');
}

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}


.calcBody {
  max-width: 500px;
  min-width: 300px;
  margin: 70px auto;
  border: 15px solid #e4e4e4;
  border-radius: 20px;
  /*max-height: 500px;*/
  /*background:#ffb452;*/
  background: linear-gradient(#ffffff,#dbdbdb40);
  padding: 20px;
}

.window {
  text-align: center;
  margin: 20px auto;
  height: 20%;

}
.window input {
  width: 100%;
  font-family:'digital-num';
  text-align: right;
  background-color: #262626;
  color:#0aff74;
}


#txtResult {
  border: 5px solid #000;
  border-bottom: 0;
  height: 70%;
  font-size:300%;
}

#txtPreview {
  border: 5px solid #000;
  border-top: 0;
  height: 30%;
  font-size: 110%;
  font-weight:bold;
}


.keys {
  /*border: 1px solid #607d8b;*/
  border-radius: 5px;
  /*font-weight:bold;*/
  color:#fff;
  font-size: 175%;
  background-color: #279ed8;
  font-family: 'Montserrat', sans-serif;
  transition:0.1s;
  
}

.operator {
  background-color:#343434;
  color: #fff;
  border-color:#343434;
  transition:0.1s;
}

.clear {
  background-color: #F44336;
  color: #fff;
  border-color: #F44336;
  font-size: 120%;
  transition:0.1s;
}

.equals {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
  transition:0.1s;
}

.unselectable {
  user-select:none;
  cursor:default;
}

.pressed {
  color:#002466;
  background-color: #faebff;
  border: 0;
  transition:0.1s;
}



/* start flex */

.flex-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}

.rows {
  display:flex;
  flex-direction: row;
  width:80%;
  justify-content: center;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 10px;
  /*flex-grow:1;*/
  height: 60px;
  flex-basis: 100px;
}

/*end flex*/

/*mobie site*/
@media screen and (max-width:768px) {

.calcBody {
  width: 100%;
  max-width:600px;
}
    
}
